@charset "uts-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&family=Zen+Maru+Gothic:wght@300&display=swap');

body {
    font-family: 'Zen Maru Gothic', sans-serif;
}

/* レイアウト */
.inner, #wrapper {
    margin: 0 auto;
    width: 800px;
    max-width: 100%;
}

#contents {
    float: right;
    width: 70%;
    border: solid 1px gray;
}

#post {
    height: 600px;
    overflow: auto;
}

#post::-webkit-scrollbar {
    width: 4px;
}

#post::-webkit-scrollbar-track {
    background: whitesmoke;
    border-radius: 2px;
}

#post::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 2px;
}

section {
    margin: 0 20px;
    padding: 20px 0;
    border-bottom: dashed 1px gray;
    font-size: 12px;
}

aside {
    float: left;
    width: 30%;
}

.widget {
    margin: 0 10px 16px 0;
    border: solid 1px gray;
}

/* nav */
#menu-btn {
    display: none;
}

menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

menu li {
    border-left: solid 1px gray;
}

menu li:last-child {
    border-right: solid 1px gray;
}

menu li a {
    padding: 5px 30px;
    border-radius: 3px;
    text-decoration: none;
    color: #000000;
    font-weight: lighter;
    font-family: 'Montserrat Alternates', sans-serif;
}

menu li a:hover {
    background-color: whitesmoke;
}

/* text */
h1 {
    text-align: center;
    font-weight: lighter;
    border: solid 1px gray;
    font-family: 'Montserrat Alternates', sans-serif;
}

.widget {
    font-size: 12px;
}

.widget ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.widget li {
    border-bottom: dashed 1px gray;
}

.widget li:last-child {
    border-bottom: none;
}

.widget a {
    display: block;
    padding: 5px 0 5px 16px;
    text-decoration: none;
    color: gray;
}

.widget a:hover {
    background: whitesmoke;
}

#profile {
    list-style-type: none;
    margin: 12px 12px 12px 20px;
    padding: 0;
}

#profile li {
    border: none;
}

#profile p {
    font-weight: lighter;
}

ul .subLog {
    display: none;
}

.subLog {
    display: none;
    height: 87px;
    overflow: auto;
}

.subLog::-webkit-scrollbar {
    width: 4px;
}

.subLog::-webkit-scrollbar {
    background: whitesmoke;
    border-radius: 2px;
}

.subLog::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 2px;
}

.less {
    height: auto;
    overflow: visible;
}

.subLog li:first-child {
    border-top: dashed 1px gray;
}

.subLog li {
    border-bottom: dashed 1px gray;
}

.subLog li:last-child {
    border-bottom: none;
}

.subLog a {
    padding-left: 32px;
}

h3 {
    margin: 0;
    padding-left: 16px;
    border-bottom: solid 1px gray;
    font-size: 18px;
    font-weight: lighter;
    font-family: 'Montserrat Alternates', sans-serif;
}

h4 {
    margin: 0 0 16px 0;
    font-size: 16px;
    font-weight: lighter;
}

p {
    margin: 0;
}

section a {
    color: black;
}

section a:hover {
    background: whitesmoke;
}

.underConstruction {
    font-size: 15px;
    color: gray;
}

/* Img */
#topImg {
    margin-bottom: 16px;
}

#topImg img {
    filter: grayscale(100%);
}

img {
    width: 100%;
    object-fit: scale-down;
}

footer {
    width: 100%;
    text-align: center;
    clear: both;
    padding: 10px 0;
}