@charset "utf-8";

@media screen and (max-width: 960px) {

    .inner, #wrapper {
        width: 90%;
        max-width: 90%;
    }

    #contents, aside {
        float: none;
        width: 100%;
    }

    aside {
        margin-top: 16px;
    }

    .widget {
        margin-right: 0;
    }
}